*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 60%;
    margin: auto;
}

header{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    margin: 50px auto;
    color: #e53170;
}

.description{
    text-align: center;
    margin-bottom: 50px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


.card{
    width: calc((100% / 3) - 2%);
    height: 100px;
    background-color: black;
    margin-bottom: 5%;
    box-shadow: 5px 10px 18px #888888;
}

.box1{
    float: left;
}

.box2{
    float: left;
    margin-left: 3%;
}

.box3{
    float: right;
}

img{
    float: left;
}

.conteinerdati{
    height: auto;
    color: white;
    float: left;
    margin: auto;
    position: relative;
}


h4{
    font-family: 'Fredoka One', cursive;
    padding: 8px 10px 6px 15px;
}

p{
    padding: 8px 8px 8px 15px;
}

a{
    text-decoration: none;
    color: #0393e6;
    padding: 8px 8px 8px 15px;
}